html {
  scroll-behavior: smooth;
}

.toggler.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.toggler.navbar-toggler {
  border-color: white;
}

.toggler.navbar-toggler:focus {
  outline-color: white;
}

section {
  padding: 150px 0;
}

.unselectable {
  pointer-events: none;
}

.chevron-down {
  margin: auto;
  width: 5em;
  height: 5em;
  animation: hover-me .5s infinite ease-in-out alternate; 
}

a {
	text-decoration:none !important;
}

@keyframes hover-me {
  100% { transform: translate3d(0, 25px, 0); }
}

.upper-space {
  margin-top: 5% !important;
}

.bttn {
  border-color: #ff0000 !important;
  outline-color: #ff0000 !important;
}

body {
  font-family: 'Tajawal', sans-serif !important;
}

h2 {
  font-family: 'Arvo', serif !important;
}

.jumbo-img {
  width: 80%;
  margin: auto;    
  display: block;
  border-radius: 5px;
  filter: drop-shadow(10px 10px 4px #ccc);
}

.footer-link{
  color: #ff0000;
}

.footer-link:hover {
  color: #ffbbbc;
}

footer p {
  color: #5b5b5b;
  font-size: 2vh;
  line-height: 4vh;
}

body p {
  color: #5b5b5b;
  font-size: 2vh;
  line-height: 4vh;
}

footer h4 {
  color: #5b5b5b;
}

.jumbo-text {
  font-family: 'Arvo', serif !important;
  font-size: 6vh;
  margin-top: 16%;
}

.jumbo-caption {
  font-size: 3vh;
  margin-bottom: 16%;
}

.jumbotron {
  background-color: #ffffff !important;
}

.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #ff0000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #ff0000;
}
.navbar .navbar-text a {
  color: #ffbbbc;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffbbbc; 
}
.navbar .navbar-nav .nav-link {
  color: #ff0000;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffbbbc;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #ffffff;
}
.navbar .navbar-toggler {
  border-color: #ffffff;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #ff0000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ff0000;
}
.navbar .navbar-link {
  color: #ff0000;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ff0000;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ff0000;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ff0000;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ff0000;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #ffffff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ff0000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #ffffff;
}

.downArrow{
	bottom: 45%;
  left: 50%;
  padding-left: 100px;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
